body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://pixabay.com/get/g71ad5f1368904fb5ee497360d1f60e5f5562ef66cccf294437f558dcb11a3063fe6e479fd69b551c17804b16b529299a_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}